<% playlists.forEach(playlist => { %>
<ul>
	<button class="select-me-please-daddy" data-playlist-id="<%=playlist.id%>" data-curator-id="<%=playlist.curator.id%>">Submit</button>
	<% Object.getOwnPropertyNames(playlist).forEach(property => { %>
	<li>
		<strong><%= property %>: </strong>
		<span><%= playlist[property] %></span>
	</li>
	<% }) %>
</ul>
<% }) %>
