<title>Spotify Hustle</title>

<script src="/jquery.js"></script>
<script src="/foundation/js/foundation.js"></script>
<script src="/app.js"></script>

<link href="/foundation/css/foundation.min.css" type="text/css" rel="stylesheet">
<link href="/app.css" type="text/css" rel="stylesheet">
<link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet">