
<div class="grid-x grid-padding-x">
    <nav class="nav cell large-offset-10 large-2">
        <li><a href="/" class="nav__link nav__link--active dimmed-text">Artists</a></li>
        <li><a href="/" class="nav__link dimmed-text">Curators</a></li>
    </nav>
</div>