
<div class="grid-x grid-padding-x">
    <nav class="nav cell large-offset-8 large-3">
        <li><a href="/" class="nav__link nav__link--artists nav__link--active dimmed-text">Artists</a></li>
        <li><a href="/" class="nav__link nav__link--curators dimmed-text">Curators</a></li>
    </nav>
</div>