<!DOCTPYE html>

<html>
	<head>
		<%- include partials/head.ejs %>
	</head>
	<body>
		<div class="full-screen submissions-screen">
			<div class="content">
				<%- include partials/navigation.ejs %>
				<div class="grid-x grid-padding-x">
					<div class="cell large-offset-1 large-6">
						<h1 class="white-text headline-text">For the artists.</h1>
						<p class="white-text large-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						
						<div class="submissions__demo-input-container">
							<button id="get-started-btn" class="button--white-fill">Get Started</button>
							<form id="demo-submission-form">
								<input id="demo-url" type="text" class="submissions__demo-input" placeholder="Paste in your Demo Spotify Track URL">
								<button form="demo-submission-form" id="submit-demo-btn" class="submissions__demo-submit" type="submit"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<small>©LysFibe for HackJunction 2017</small>
			</footer>
		</div>
		<div class="full-screen interstitial-screen">
			<div class="grid-x grid-padding-x content">
				<div class="cell large-offset-1 large-8">
					<h1 class="white-text headline-text">Fetching Curator Playlists...</h1>
					<p class="white-text large-text">via Wizardry</p>
				</div>
			</div>
			<footer class="footer">
				<small>©LysFibe for HackJunction 2017</small>
			</footer>
		</div>
		<div class="full-screen suggestions-screen">
			<div class="content">
				<%- include partials/navigation.ejs %>
				<div class="grid-x grid-padding-x">
					<div class="cell large-offset-1 large-5">
						<h1 class="white-text headline-text">Your Playlist Suggestions</h1>
						<p class="white-text large-text">Some more schpeel about some stuff</p>
					</div>
					<div class="cell large-5 playlist-suggestions">
					
					</div>
				</div>
			</div>
			<footer class="footer">
				<small>©LysFibe for HackJunction 2017</small>
			</footer>
		</div>
	</body>
	<script src="timeago.min.js" type="text/javascript"></script>
</html>