<!DOCTPYE html>

<html>
	<head>
		<%- include partials/head.ejs %>
	</head>
	<body>
		<div class="full-screen submissions-screen">
			<div class="content">
				<%- include partials/navigation.ejs %>
				<div class="grid-x grid-padding-x">
					<div class="cell large-offset-1 large-6">
						<h1 class="white-text headline-text">For the artists.</h1>
						<p class="white-text large-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<button class="button--white-fill">Get Started</button>
					</div>
				</div>
			</div>
			<footer class="footer">
				<small>©LysFibe for HackJunction 2017</small>
			</footer>
		</div>
	</body>
</html>