<!DOCTPYE html>

<html>
	<head>
		<%- include partials/head.ejs %>
	</head>
	<body>
		<div class="full-screen submissions-screen" style="display:none">
			
			<%- include partials/navigation.ejs %>
			
			<div class="grid-padding-x">
				<div class="cell large-offset-1 large-6">
					<h1 class="white-text headline-text">For the artists.</h1>
					<p class="white-text">Some schpeel</p>
					<button>Get Started</button>
				</div>
			</div>
		</div>
	</body>
</html>