@font-face {
    font-family: 'raleway';
    src: url('/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway';
    src: url('/fonts/Raleway/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 600;
}

body
{
    background-color: #000;
}

h1, h2, h3, p, a, li, span, button, input
{
    font-family: raleway, Helvetica, Arial, sans-serif;
}

h1, h2 h3
{
    font-weight: 900;
}

h1
{
    font-size: 48px;
    letter-spacing: 1px;
}

h2
{
    font-size: 32px;
}

button
{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 18px 48px 16px;
    border-radius: 500px;
    border: 2px solid #919496;
    color: #919496;
    outline: none;
}

button:focus
{
    outline: none;
}

button:hover
{
    background-color: #919496;
    color: #FFF;
}

button.button--white-fill
{
    background-color: #DDD;
    border: 2px solid #DDD;
    color: #000;
}

button.button--white-fill:hover
{
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #000; 
}

small
{
    font-size: 12px;
}

.headline-text
{
    font-size: 80px;
}

.dimmed-text
{
    color: #919496;  
}

.black-text
{
    color: #000;
}

.white-text
{
    color: #FFF;
}

.full-screen
{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: none;
}

.large-text
{
    font-size: 18px;
}

.content
{
    height: calc(100vh - 32px);
}

.footer
{
    background-color: #000;
    padding: 10px 0;
    text-align: center;
}

.footer small
{
    color: #FFF;
}

/* Navigation */

.nav
{
    padding: 40px 0 40px 0;
}

.nav li
{
    list-style: none;
    display: inline-block;
}

.nav__link
{
    color: #FFF;
    font-weight: 600;
    padding: 0 16px 0 16px;
    position: relative;
}

.nav__link--active:before
{
    position: absolute;
    display: table;
    content: "";
    bottom: -5px;
    left: calc(50% - 10px);
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #FFF;
}

.nav__link:hover
{
    color: #3ba585;
}

.nav__link:hover:before
{
    background-color: #3ba585;
}

/* Submissions Screen */

.submissions-screen
{
    background-image: url('/images/submissions_bg.jpeg');
    background-size: cover;
}

.submissions-screen:before
{
    content: "";
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.submissions-screen .content
{
    position: relative;
    z-index: 10;
}
